{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Execute Datapoints</title>
</head>
<body>
<h1>F_08_01_b_REF_FINREP_3_0</h1>
<table border="1">
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_b_REF_FINREP_3_0_32000_REF'%}">F_08_01_b_REF_FINREP_3_0_32000_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_b_REF_FINREP_3_0_11247_REF'%}">F_08_01_b_REF_FINREP_3_0_11247_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_b_REF_FINREP_3_0_11451_REF'%}">F_08_01_b_REF_FINREP_3_0_11451_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_b_REF_FINREP_3_0_45982_REF'%}">F_08_01_b_REF_FINREP_3_0_45982_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_b_REF_FINREP_3_0_45849_REF'%}">F_08_01_b_REF_FINREP_3_0_45849_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_b_REF_FINREP_3_0_11485_REF'%}">F_08_01_b_REF_FINREP_3_0_11485_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_b_REF_FINREP_3_0_11345_REF'%}">F_08_01_b_REF_FINREP_3_0_11345_REF</a></td></tr>
</table>
</body>
</html>
</table>
</body>
</html>
{% endblock %}
